.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-bottom: 5px;
  flex-wrap: wrap;
  width: 250px;
  box-shadow: 0 0 10px #8935e9;
  border-radius: 1rem;
  background-color: #17013a;
}

.App {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  padding:0;
}
